<div class="card">
 <p-table
    #dt
    [columns]="cols"
    [value]="Candidates"
    [tableStyle]="{ 'min-width': '50rem' }"
    styleClass="p-datatable-striped"
    [paginator]="true"
    [rows]="10"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [rowsPerPageOptions]="[10, 25, 50]"
    selectionMode="multiple"
    [(selection)]="selectedProducts"
    [exportHeader]="'customExportHeader'"
  >
    <ng-template pTemplate="caption">
      <div style="display: inline-flex;">
        <h5 style="margin-right:100px;margin-left:20px">Candidate</h5>
      <div style="float: right;margin-top:4px">
        <button tooltipPosition="top" pTooltip="CSV" pButton pRipple icon="pi pi-file" (click)="dt.exportCSV()" class="mr-2" pTooltip="CSV"tooltipPosition="top"></button>
        <p-button  tooltipPosition="top" pTooltip="AddCandidate" style="margin-left:5px" icon="pi pi-plus" (click)="AddCandidate()" icon="pi pi-plus"></p-button>
      </div>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th>Candidate Name</th>
        <th>Email</th>
        <th>Tech</th>
        <th>Visa</th>
        <th>Rate</th>
        <th>Date</th>
        <th>Contact Details</th>
        <th></th>
        <th>Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-Candidates>
      <tr>
        <td>{{ Candidates.CandidateName }}</td>
        <td>{{ Candidates.email }}</td>
        <td>{{ Candidates.tech }}</td>
        <td>{{ Candidates.visa }}</td>
        <td>{{ Candidates.rate }}</td>
        <td>{{ Candidates.date }}</td>
        <td>{{ Candidates.contactdetails}}</td>
        <td>{{ Candidates.actions}}</td>
        <td>
          <button tooltipPosition="top" pTooltip="CSV" (click)="openfollowups(Candidates.key,Candidates.CandidateName)" pButton pRipple type="button" icon="pi pi-file-o" class="p-button-rounded p-button-text"></button>
          <button tooltipPosition="top" pTooltip="EDIT" (click)="edit(Candidates.key,Candidates)" pButton pRipple type="button" icon="pi pi-pencil" class="p-button-rounded p-button-text"></button>
          <button tooltipPosition="top" pTooltip="DELETE"(click)="delete(Candidates.key)" pButton pRipple type="button" icon="pi pi-times" class="p-button-rounded p-button-danger p-button-text"></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
<p-sidebar [(visible)]="display" position="right"  [style]="{width:'40em'}">
  <h3>{{sibebarHeader}}</h3>
  <div class="form-group">
    <label>Candidate Name <small>(required)</small></label>
    <input name="CandidateName" type="text" class="form-control" [(ngModel)]="candidate.CandidateName">
  </div>
  <div class="form-group">
    <label> Email</label>
    <input name="email" type="text" class="form-control" [(ngModel)]="candidate.email">
  </div>
  <div class="form-group">
    <label> Tech</label>
    <input name="tech" type="text" class="form-control" [(ngModel)]="candidate.tech">
  </div>
  <div class="form-group">
    <label> Visa</label>
    <input name="visa" type="text" class="form-control" [(ngModel)]="candidate.visa">
  </div>
  <div class="form-group">
    <label> Rate</label>
    <input name="rate" type="text" class="form-control" [(ngModel)]="candidate.rate">
  </div>
  <div class="form-group">
    <label> Date </label>
    <input name="date" type="text" class="form-control" [(ngModel)]="candidate.date">
  </div>
  <div class="form-group">
    <label> Contact Details </label>
    <input name="contact details" type="text" class="form-control" [(ngModel)]="candidate.contactdetails">
  </div>
  <p-button label="Submit" icon="pi pi-check" (click)="create()"></p-button>
</p-sidebar>
<p-sidebar [(visible)]="displayFollowUp" position="right"  [style]="{width:'40em'}">
  <h4>{{selCandidate}} Follow Ups </h4>
  <div class="form-group">
    <label>Description </label>
    <input name="CandidDescriptionateName" type="text" class="form-control" [(ngModel)]="description">
  </div>
  <p-button label="Save" icon="pi pi-check" (click)="createFollowup()"></p-button>
  <hr/>
  <table class='can-table' style="border-collapse: collapse;width:100%" *ngIf="followUps && followUps.length>0">
    <tr>
      <td>Date</td>
      <td>By</td>
      <td>Description</td>
    </tr>
    <tr *ngFor="let f of followUps">
      <td>{{f.followupDate}}</td>
      <td>{{f.followupBy}}</td>
      <td>{{f.description}}</td>
    </tr>
  </table>
  <div *ngIf="followUps && followUps.length==0" style="color:red">
    <label>No followup Added.</label>
  </div>
</p-sidebar>