<div class="card">
  <h5>Candidate</h5>
  <p-table
    #dt
    [columns]="cols"
    [value]="Candidate"
    [tableStyle]="{ 'min-width': '50rem' }"
    styleClass="p-datatable-striped"
    [paginator]="true"
    [rows]="10"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [rowsPerPageOptions]="[10, 25, 50]"
    selectionMode="multiple"
    [(selection)]="selectedProducts"
    [exportHeader]="'customExportHeader'"
  >
    <ng-template pTemplate="caption">
      <div class="flex">
        <button
          type="button"
          pButton
          pRipple
          icon="pi pi-file"
          (click)="dt.exportCSV()"
          class="mr-2"
          pTooltip="CSV"
          tooltipPosition="bottom"
        >
          CSV
        </button>
        <!-- <button type="button" pButton pRipple icon="pi pi-file-excel" (click)="exportExcel()" class="p-button-success mr-2"  pTooltip="XLS" tooltipPosition="bottom"></button>
          <button type="button" pButton pRipple icon="pi pi-file-pdf" (click)="exportPdf()" class="p-button-warning mr-2" pTooltip="PDF" tooltipPosition="bottom"></button> -->
        <button
          type="button"
          pButton
          pRipple
          icon="pi pi-filter"
          (click)="dt.exportCSV({ selectionOnly: true })"
          class="p-button-info ml-auto"
          pTooltip="Selection Only"
          tooltipPosition="bottom"
        >
          Selected Row CSV
        </button>
        <p-button icon="pi pi-plus" (click)="AddCandidate()" icon="pi pi-plus"></p-button>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th>Name</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Tech</th>
        <th>Visa</th>
        <th>Rate</th>
        <th>Date</th>
        <th>Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-candidate>
      <tr>
        <td>{{ candidate.name }}</td>
        <td>{{ candidate.phone }}</td>
        <td>{{ candidate.email }}</td>
        <td>{{ candidate.tech }}</td>
        <td>{{ candidate.visa }}</td>
        <td>{{ candidate.rate }}</td>
        <td>{{ candidate.date }}</td>
        <td>{{ candidate.actions}}</td>
        <td>
          <button (click)="edit(candidate.key,candidate)" pButton pRipple type="button" icon="pi pi-pencil" class="p-button-rounded p-button-text"></button>
          <button (click)="delete(candidate.key)" pButton pRipple type="button" icon="pi pi-times" class="p-button-rounded p-button-danger p-button-text"></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
  <button (click)="create()">create</button>
</div>
<p-sidebar [(visible)]="display" position="right"  [style]="{width:'40em'}">
  <h3>{{sibebarHeader}}</h3>
  <div class="form-group">
    <label> Name <small>(required)</small></label>
    <input name="name" type="text" class="form-control" [(ngModel)]="candidate.name">
</div>
<div class="form-group">
  <label> Phone</label>
  <input name="phone" type="text" class="form-control" [(ngModel)]="candidate.phone">
</div>
<div class="form-group">
  <label> Email</label>
  <input name="email" type="text" class="form-control" [(ngModel)]="candidate.email">
</div>
<div class="form-group">
  <label> Tech</label>
  <input name="tech" type="text" class="form-control" [(ngModel)]="candidate.tech">
</div>
<div class="form-group">
  <label> Visa</label>
  <input name="visa" type="text" class="form-control" [(ngModel)]="candidate.visa">
</div>
<div class="form-group">
  <label> rate </label>
  <input name="rate" type="text" class="form-control" [(ngModel)]="candidate.rate">
</div>

  <p-button label="Submit" icon="pi pi-check" (click)="create()"></p-button>
</p-sidebar>