<div class="card">
  <p-table  #dt [columns]="cols" [value]="Jobs" [tableStyle]="{'min-width': '50rem'}" styleClass="p-datatable-striped"
[paginator]="true" [rows]="10" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,25,50]"
selectionMode="multiple" [(selection)]="selectedProducts" [exportHeader]="'customExportHeader'">
<ng-template pTemplate="caption">
  <div style="display: inline-flex;">
    <h5 style="margin-right: 100px;">Jobs</h5>
  <div class="flex">
      <button type="button" pButton pRipple icon="pi pi-file" (click)="dt.exportCSV()" class="mr-2" pTooltip="CSV" tooltipPosition="bottom"></button>
      <!-- <button type="button" pButton pRipple icon="pi pi-file-excel" (click)="exportExcel()" class="p-button-success mr-2"  pTooltip="XLS" tooltipPosition="bottom"></button>
      <button type="button" pButton pRipple icon="pi pi-file-pdf" (click)="exportPdf()" class="p-button-warning mr-2" pTooltip="PDF" tooltipPosition="bottom"></button> -->
      <p-button  style="margin-left:5px" icon="pi pi-plus" (click)="AddJob()" icon="pi pi-plus"></p-button>
  </div>
  </div>
</ng-template>
  <ng-template pTemplate="header">
      <tr>
          <th>Name</th>
          <th>Desc</th>
          <th>StartDate</th>
          <th>EndDate</th>
          <th></th>
          <th>Actions</th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-Jobs>
      <tr>
          <td>{{Jobs.name}}</td>
          <td>{{Jobs.desc}}</td>
          <td>{{Jobs.startdate}}</td>
          <td>{{Jobs.enddate}}</td>
          <td>{{Jobs.actions}}</td>

          <td>
            <button (click)="edit(Jobs.key,Jobs)" pButton pRipple type="button" icon="pi pi-pencil" class="p-button-rounded p-button-text"></button>
            <button (click)="delete(Jobs.key)" pButton pRipple type="button" icon="pi pi-check"  label="Confirm" class="p-button-rounded p-button-danger p-button-text">
              <!-- <button  pButton  (click)="confirm()"icon="pi pi-check" label="Confirm"></button> -->
          </button>
          </td>
      </tr>
  </ng-template>
</p-table>
</div>
<p-sidebar [(visible)]="display" position="right"  [style]="{width:'40em'}">
  <h3>{{sibebarHeader}}</h3>
  <div class="form-group">
    <label> Name <small>(required)</small></label>
    <input name="name" type="text" class="form-control" [(ngModel)]="job.name">
</div>
<div class="form-group">
  <label> Desc</label>
  <input name="desc" type="text" class="form-control" [(ngModel)]="job.desc">
</div>
<div class="form-group">
  <label> startdate</label>
  <input name="startdate" type="text" class="form-control" [(ngModel)]="job.startdate">
  <p-calendar [(ngModel)]="date2" locale="es" dateFormat="dd/mm/yy" inputId="spanish"></p-calendar>
       
</div>
<div class="form-group">
  <label> enddate</label>
  <input name="enddate" type="text" class="form-control" [(ngModel)]="job.enddate">
</div>
<p-button label="Submit" icon="pi pi-check" (click)="create()"></p-button>
</p-sidebar>



