<div class="content container-fluid">
    <div class="page-header">
      <div class="row align-items-center">
        <div class="col">
          <h3 class="page-title">Jobs</h3>
          <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
            <li class="breadcrumb-item active">Jobs</li>
          </ul>
        </div>
        <div class="col-auto float-right ml-auto">
          <a
            href="javascript:void(0);"
            class="btn add-btn"
            data-toggle="modal"
            data-target="#add_jobs"
            (click)="openAddJobsModal()"
            ><i class="fa fa-plus"></i> Add Jobs</a
          >
        </div>
      </div>
    </div>

    <div class="row filter-row">
      <div class="col-sm-6 col-md-3">
        <div class="form-group form-focus">
          <input type="text" class="form-control floating" #JobName />
          <label class="focus-label"> JobName</label>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="form-group form-focus">
          <input type="text" class="form-control floating" #appliedDate />
          <label class="focus-label">appliedDate</label>
        </div>
      </div>

      <!-- <div class="col-sm-6 col-md-3">
        <a
          href="javascript:void(0);"
          class="btn btn-success btn-block"
          type="button"
          (click)="searchJobs(JobName.value, appliedDate.value)"
        >
          Search
        </a>
      </div> -->
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="table-responsive" id="datatables">
          <table class="table table-striped custom-table datatable">
            <thead>
              <tr>
                <th>JobName</th>
                <th>appliedDate</th>
                <th>Status</th>
                <th class="text-right">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let job of filterJobs">
                <td>
                  <h2 class="table-avatar">
                    <a href="javascript:void(0);" class="avatar"
                      ><img src="assets/img/profiles/avatar-19.jpg" alt=""
                    /></a>
                    <a href="javascript:void(0);">{{ job.jobName }}</a>
                  </h2>
                </td>
                <td>{{ job.appliedDate}}</td>
                <td>{{ job.status }}</td>
          
                <td class="text-right">
                  <div class="dropdown dropdown-action">
                    <a
                      href="javascript:void(0);"
                      class="action-icon dropdown-toggle"
                      data-toggle="dropdown"
                      aria-expanded="false"
                      ><i class="material-icons">more_vert</i></a
                    >
                    <div class="dropdown-menu dropdown-menu-right">
                      <!-- <a
                        class="dropdown-item"
                        href="javascript:void(0);"
                        data-toggle="modal"
                        data-target="#add_jobs"
                        (click)="openUpdateJobsModal(job)"
                        ><i class="fa fa-pencil m-r-5"></i>Edit</a
                      > -->
                      <!-- <a
                        class="dropdown-item"
                        href="javascript:void(0);"
                        data-toggle="modal"
                        data-target="#delete_material"
                        (click)="openDeleteMaterialDispatchModal(material)"
                        ><i class="fa fa-trash-o m-r-5"></i> Delete</a
                      > -->
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div id="add_jobs" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{{ modalHeaderText }}</h5>
          <button
            id="closeModal"
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="JobsForm">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="col-form-label"
                    >JobName <span class="text-danger">*</span></label
                  >
                  <input
                    class="form-control"
                    type="text"
                    formControlName="JobName"
                  />
                  <!-- <span class="text-danger"
                     *ngIf="(JobsForm.jobName.touched || submitted) && JobsForm.jobName.errors?.['required']">
                     JobName is required
                  </span> -->
                  
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label class="col-form-label"
                    >appliedDate<span class="text-danger">*</span></label
                  >
                  <input
                    class="form-control"
                    type="text"
                    formControlName="appliedDate"
                  />
                  <!-- <span class="text-danger"
                     *ngIf="(JobsForm.appliedDate.touched || submitted) && JobsForm.appliedDate.errors?.['required']">
                      appliedDate is required
                  </span> -->
                </div>
              </div>


              <div class="col-md-6">
                <div class="form-group">
                  <label class="col-form-label">Status</label>
                  <div class="status-toggle">
                    <input
                      type="checkbox"
                      id="status"
                      class="check"
                      formControlName="status"
                    />
                    <label for="status" class="checktoggle">checkbox</label>
                  </div>
                </div>
              </div>
            </div>

            <div class="submit-section">
              <button
                class="btn btn-primary submit-btn"
                type="button"
          
              >
                Submit
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="modal custom-modal fade" id="delete_jobs" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">
          <div class="form-header">
            <h3>Delete Material</h3>
            <p>Are you sure want to delete?</p>
          </div>
          <div class="modal-btn delete-action">
            <div class="row">
              <!-- <div class="col-6">
                <a
                  href="javascript:void(0);"
                  (click)="deleteJob()"
                  class="btn btn-primary continue-btn"
                  >Delete</a
                >
              </div> -->
              <div class="col-6">
                <a
                  id="closeDeleteModal"
                  href="javascript:void(0);"
                  data-dismiss="modal"
                  class="btn btn-primary cancel-btn"
                  >Cancel</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <div *ngIf="showLoading">
    <app-loading></app-loading>
  </div> -->
