<div class="card">
  <h5>Jobs</h5>
<p-table  #dt [columns]="cols" [value]="Jobs" [tableStyle]="{'min-width': '50rem'}" styleClass="p-datatable-striped"
[paginator]="true" [rows]="10" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,25,50]"
selectionMode="multiple" [(selection)]="selectedProducts" [exportHeader]="'customExportHeader'">
<ng-template pTemplate="caption">
  <div class="flex">
      <button type="button" pButton pRipple icon="pi pi-file" (click)="dt.exportCSV()" class="mr-2" pTooltip="CSV" tooltipPosition="bottom">CSV</button>
      <!-- <button type="button" pButton pRipple icon="pi pi-file-excel" (click)="exportExcel()" class="p-button-success mr-2"  pTooltip="XLS" tooltipPosition="bottom"></button>
      <button type="button" pButton pRipple icon="pi pi-file-pdf" (click)="exportPdf()" class="p-button-warning mr-2" pTooltip="PDF" tooltipPosition="bottom"></button> -->
       <button type="button" pButton pRipple icon="pi pi-filter" (click)="dt.exportCSV({selectionOnly:true})" class="p-button-info ml-auto" pTooltip="Selection Only" tooltipPosition="bottom">Selected Row CSV</button>
      <p-button icon="pi pi-plus" (click)="display = true" icon="pi pi-plus"></p-button>
  </div>
</ng-template>
  <ng-template pTemplate="header">
      <tr>
          <th>Name</th>
          <th>Desc</th>
          <th>StartDate</th>
          <th>EndDate</th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-Jobs>
      <tr>
          <td>{{Jobs.name}}</td>
          <td>{{Jobs.desc}}</td>
          <td>{{Jobs.startdate}}</td>
          <td>{{Jobs.enddate}}</td>
      </tr>
  </ng-template>
</p-table>
<button (click)="create()"> create</button>
</div>
<p-sidebar [(visible)]="display" position="right"  [style]="{width:'40em'}">
  Content
  <div class="form-group">
    <label> Name <small>(required)</small></label>
    <input name="name" type="text" class="form-control" placeholder="Andrew...">
</div>
<div class="form-group">
  <label> Desc <small>(required)</small></label>
  <input name="desc" type="text" class="form-control" placeholder="bc...">
</div>
<div class="form-group">
  <label> startdate<small>(required)</small></label>
  <input name="startdate" type="text" class="form-control" placeholder="10/12/2013">
</div>
<div class="form-group">
  <label> enddate <small>(required)</small></label>
  <input name="enddate" type="text" class="form-control" placeholder="11/12/2014">
</div>

  <button (click)="create()" icon="pi pi-arrow-right"> create</button>
</p-sidebar>

