<div class="register-area" style="background-color: rgb(249, 249, 249);">
    <div class="container">

    <div class="col-md-6">
        <div class="box-for overflow">                         
            <div class="col-md-12 col-xs-12 login-blocks">
                <header>
                    <div class="logo">
                        <div class="logo-row">
                            <a class="navbar-brand" href="index.html">
                                <img src="assets/blueverse_logo.png" alt="logo" class="logo">
                            </a>
                        </div>
                    </div>
                </header>
                    <form action="" method="post">
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="text" class="form-control" id="email" #userName>
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" id="password" #userPassword>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-default" (click)="authService.SignIn(userName.value, userPassword.value)"> Log in</button>
                        </div>
                    </form>
                    <!-- <br>
                    
                    <h2>Social login :  </h2> 
                    
                    <p>
                    <a class="login-social" href="#"><i class="fa fa-facebook"></i>&nbsp;Facebook</a> 
                    <a class="login-social" href="#"><i class="fa fa-google-plus" (click)="authService.GoogleAuth()"></i>&nbsp;Gmail</a> 
                    <a class="login-social" href="#"><i class="fa fa-twitter"></i>&nbsp;Twitter</a>  
                    </p>  -->
                </div>
                
            </div>
        </div>

    </div>
</div>   