<div class="card">
  <p-table  #dt [columns]="cols" [value]="Leave" [tableStyle]="{'min-width': '50rem'}" styleClass="p-datatable-striped"
  [paginator]="true" [rows]="10" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,25,50]"
  selectionMode="multiple" [(selection)]="selectedProducts" [exportHeader]="'customExportHeader'">
  <ng-template pTemplate="caption">
      <div style="display: inline-flex;">
          <h5 style="margin-right: 100px;margin-left:20px">Leave</h5>
          <div style="float: right;margin-top: 4px">
              <button tooltipPosition="top" pTooltip="CSV"  pRipple icon="pi pi-file" (click)="dt.exportCSV()" class="mr-2" pTooltip="CSV" tooltipPosition="bottom"></button>
              <p-button tooltipPosition="top" pTooltip="AddLeave" style="margin-left:5px;" icon="pi pi-plus" (click)="AddLeave()" icon="pi pi-plus"></p-button>
          </div>
      </div>
  </ng-template> 
      <ng-template pTemplate="header">
              <tr>
                  <th>Employee</th>
                  <th>From Date</th>
                  <th>To Date</th>
                  <th>Leave Type</th>
                  <th>Applied Date</th>
                  <th>Status</th>
                  <th>Reason</th>
                  <th></th>
                  <th>Actions</th>
              </tr> 
      </ng-template>
          <ng-template pTemplate="body" let-Leave>
              <tr>
                  <td>{{Leave.Employee}}</td>
                  <td>{{Leave.FromDate}}</td>
                  <td>{{Leave.ToDate}}</td> 
                  <td>{{Leave.LeaveType}}</td>
                  <td>{{Leave.AppliedDate}}</td>
                  <td>{{Leave.Status}}</td>
                  <td>{{Leave.Reason}}</td>
                  <td>{{Leave.Actions}}</td>
                  <td>
                      <button  tooltipPosition="top" pTooltip="EDIT" (click)="edit(Leave.key,Leave)" pButton pRipple type="button" icon="pi pi-pencil" class="p-button-rounded p-button-text"></button>
                      <button  tooltipPosition="top" pTooltip="DELETE" (click)="delete(Leave.key)" pButton pRipple type="button" icon="pi pi-times" class="p-button-rounded p-button-danger p-button-text"></button>
                  </td>
              </tr>
          </ng-template>
      </p-table>
</div>
<p-sidebar [(visible)]="display" position="right"  [style]="{width:'40em'}">
  <h3>{{sibebarHeader}}</h3>
  <div class="form-group">
    <label> Employee <small>(required)</small></label>
    <select  [(ngModel)]="leave.Employee"  class="form-control">
      <option *ngFor="let e of Employee">{{e.EmployeeName}}</option>
    </select>
  </div>
<div class= "form-group">
  <label> From Date</label>
  <div class="card flex justify-content-normal">
    <p-calendar [(ngModel)]="date" [showTime]="true" [showSeconds]="true">
  <input name="fromdate" type="text" class="form-control" [(ngModel)]="leave.FromDate">
   </p-calendar>
 </div>
  </div>
<div class="form-group">
  <label> To Date</label>
  <div class="card flex justify-content-normal">
    <p-calendar [(ngModel)]="date" [showTime]="true" [showSeconds]="true">
      <input name="todate" type="text" class="form-control" [(ngModel)]="leave.ToDate">
</p-calendar>
 </div>
 </div>
<div class="form-group">
  <label> Leave Type</label>
  <select  [(ngModel)]="leave.LeaveType"  class="form-control">
    <option *ngFor="let t of LeaveType">{{t.Type}}</option>
  </select>
  <input name="leavetype" type="text" class="form-control" [(ngModel)]="leave.LeaveType">
</div>
<div class="form-group">
  <label> Applied Date</label>
  <div class="card flex justify-content-normal">
    <p-calendar [(ngModel)]="date" [showTime]="true" [showSeconds]="true">
      <input name="applieddate" type="text" class="form-control" [(ngModel)]="leave.AppliedDate">
    </p-calendar>
 </div>
</div>
<div class="form-group">
  <label> Status</label>
  <input name="status" type="text" class="form-control" [(ngModel)]="leave.Status">
</div>
<div class="form-group">
  <label> Reason</label>
  <textarea rows="5" cols="30" pInputTextarea [(ngModel)]="value"></textarea>
  <input name="reason" type="text" class="form-control" [(ngModel)]="leave.Reason">
</div>
<p-button label="Submit" icon="pi pi-check" (click)="create()"></p-button>
</p-sidebar>
