.card{
    margin:20px
}
:host ::ng-deep .p-datatable .p-datatable-tbody > tr > td {
    padding:10px
}
:host ::ng-deep .p-button{
    padding:0px
}  
:host ::ng-deep .p-inputtext{
    padding: 0rem 0.75rem
}
:host ::ng-deep .p-datatable .p-datatable-thead > tr > th {
    padding:10px
}