<div class="card">
    <p-table  #dt [columns]="cols" [value]="Client" [tableStyle]="{'min-width': '50rem'}" styleClass="p-datatable-striped"
  [paginator]="true" [rows]="10" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,25,50]"
  selectionMode="multiple" [(selection)]="selectedProducts" [exportHeader]="'customExportHeader'">
  <ng-template pTemplate="caption">
    <div style="display: inline-flex;">
      <h5 style="margin-right: 100px;">Client</h5>
    <div class="flex">
        <button type="button" pButton pRipple icon="pi pi-file" (click)="dt.exportCSV()" class="mr-2" pTooltip="CSV" tooltipPosition="bottom"></button>
        <!-- <button type="button" pButton pRipple icon="pi pi-file-excel" (click)="exportExcel()" class="p-button-success mr-2"  pTooltip="XLS" tooltipPosition="bottom"></button>
        <button type="button" pButton pRipple icon="pi pi-file-pdf" (click)="exportPdf()" class="p-button-warning mr-2" pTooltip="PDF" tooltipPosition="bottom"></button> -->
        <p-button  style="margin-left:5px" icon="pi pi-plus" (click)="AddClient()" icon="pi pi-plus"></p-button>
    </div>
    </div>
  </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th>Client Name</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Address</th>
            <th></th>
            <th>Actions</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-Client>
        <tr>
            <td>{{Client.ClientName}}</td>
            <td>{{Client.Phone}}</td>
            <td>{{Client.Email}}</td>
            <td>{{Client.Address}}</td>
            <td>{{Client.actions}}</td>
  
            <td>
              <button (click)="edit(Client.key,Client)" pButton pRipple type="button" icon="pi pi-pencil" class="p-button-rounded p-button-text"></button>
              <button (click)="delete(Client.key)" pButton pRipple type="button" icon="pi pi-times"   class="p-button-rounded p-button-danger p-button-text"></button>
            </td>
        </tr>
    </ng-template>
  </p-table>
  </div>
  <p-sidebar [(visible)]="display" position="right"  [style]="{width:'40em'}">
    <h3>{{sibebarHeader}}</h3>
    <div class="form-group">
      <label> Client Name <small>(required)</small></label>
      <input name="client name" type="text" class="form-control" [(ngModel)]="client.ClientName">
  </div>
  <div class="form-group">
    <label> Phone</label>
    <input name="phone" type="text" class="form-control" [(ngModel)]="client.Phone">
  </div>
  <div class="form-group">
    <label> Email</label>
    <input name="email" type="text" class="form-control" [(ngModel)]="client.Email">
  </div>
  <div class="form-group">
    <label> Address</label>
    <input name="address" type="text" class="form-control" [(ngModel)]="client.Address">
  </div>
  <p-button label="Submit" icon="pi pi-check" (click)="create()"></p-button>
  </p-sidebar>
  
  
  
  