<div class="card">
    <p-table  #dt [columns]="cols" [value]="Client" [tableStyle]="{'min-width': '50rem'}" styleClass="p-datatable-striped"
  [paginator]="true" [rows]="10" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,25,50]"
  selectionMode="multiple" [(selection)]="selectedProducts" [exportHeader]="'customExportHeader'">
  <ng-template pTemplate="caption">
    <div style="display: inline-flex;">
      <h5 style="margin-right: 100px; margin-left:20px">Client</h5>
    <div style="float:right;margin-top:4px">
        <button type="button" pButton pRipple icon="pi pi-file" (click)="dt.exportCSV()" class="mr-2" pTooltip="CSV" tooltipPosition="bottom"></button>
        <!-- <button type="button" pButton pRipple icon="pi pi-file-excel" (click)="exportExcel()" class="p-button-success mr-2"  pTooltip="XLS" tooltipPosition="bottom"></button>
        <button type="button" pButton pRipple icon="pi pi-file-pdf" (click)="exportPdf()" class="p-button-warning mr-2" pTooltip="PDF" tooltipPosition="bottom"></button> -->
        <p-button  style="margin-left:5px" icon="pi pi-plus" (click)="AddClient()" icon="pi pi-plus"></p-button>
    </div>
    </div>
  </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th>Client Name</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Address</th>
            <th></th>
            <th>Actions</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-Client>
        <tr>
            <td>{{Client.ClientName}}</td>
            <td>{{Client.Phone}}</td>
            <td>{{Client.Email}}</td>
            <td>{{Client.Address}}</td>
            <td>{{Client.actions}}</td>
            <td>
              <button (click)="openfollowups(Client.key,Client.ClientName)" pButton pRipple type="button" icon="pi pi-check" class="p-button-rounded p-button-text"></button>
              <button (click)="openrequirements(Client.key,Client.ClientName)" pButton pRipple type="button" icon="pi pi-check-circle" class="p-button-rounded p-button-text"></button>
              <button (click)="opencontactperson(Client.key,Client.ClientName)" pButton pRipple type="button" icon="pi pi-check-square" class="p-button-rounded p-button-text"></button>
              <button (click)="edit(Client.key,Client)" pButton pRipple type="button" icon="pi pi-pencil" class="p-button-rounded p-button-text"></button>
              <button (click)="delete(Client.key)" pButton pRipple type="button" icon="pi pi-times"   class="p-button-rounded p-button-danger p-button-text"></button>
            </td>
        </tr>
    </ng-template>
  </p-table>
  </div>
  <p-sidebar [(visible)]="display" position="right"  [style]="{width:'40em'}">
    <h3>{{sibebarHeader}}</h3>
    <div class="form-group">
      <label> Client Name <small>(required)</small></label>
      <input name="client name" type="text" class="form-control" [(ngModel)]="client.ClientName">
  </div>
  <div class="form-group">
    <label> Phone</label>
    <input name="phone" type="text" class="form-control" [(ngModel)]="client.Phone">
  </div>
  <div class="form-group">
    <label> Email</label>
    <input name="email" type="text" class="form-control" [(ngModel)]="client.Email">
  </div>
  <div class="form-group">
    <label> Address</label>
    <input name="address" type="text" class="form-control" [(ngModel)]="client.Address">
  </div>
  <p-button label="Submit" icon="pi pi-check" (click)="create()"></p-button>
  </p-sidebar>

  <p-sidebar [(visible)]="displayFollowUp" position="right"  [style]="{width:'40em'}">
    <h4>{{selClient}} Follow Ups </h4>
    <div class="form-group">
      <label>Description </label>
      <input name="ClientDescriptionateName" type="text" class="form-control" [(ngModel)]="description">
    </div>
    <p-button label="Save" icon="pi pi-check" (click)="createFollowup()"></p-button>
    <hr/>
    <table class='can-table' style="border-collapse: collapse;width:100%" *ngIf="followUps && followUps.length>0">
      <tr>
        <td>Date</td>
        <td>By</td>
        <td>Description</td>
      </tr>
      <tr *ngFor="let f of followUps">
        <td>{{f.followupDate}}</td>
        <td>{{f.followupBy}}</td>
        <td>{{f.description}}</td>
      </tr>
    </table>
    <div *ngIf="followUps && followUps.length==0" style="color:red">
      <label>No followUps  Added.</label>
    </div>
  </p-sidebar>

  <p-sidebar [(visible)]="displayRequirement" position="right"  [style]="{width:'40em'}">
    <h4>{{selClient}} Requirements </h4>
    <div class="form-group">
      <label>Requirement Heading </label>
      <input name="ClientRequirementHeading" type="text" class="form-control" [(ngModel)]="requirementHeading">
    </div>
    <div class="form-group">
      <label>Requirement Date </label>
      <input name="ClientRequirementDate" type="text" class="form-control" [(ngModel)]="requirementDate">
    </div>
    <div class="form-group">
      <label>Requirement By </label>
      <input name="ClientRequirementBy" type="text" class="form-control" [(ngModel)]="requirementBy">
    </div>
    <div class="form-group">
      <label>Description </label>
      <input name="ClientDescriptionName" type="text" class="form-control" [(ngModel)]="description">
    </div>

    <p-button label="Save" icon="pi pi-check" (click)="createRequirements()"></p-button>
    <hr/>
    <table class='can-table' style="border-collapse: collapse;width:100%" *ngIf="requirements && requirements.length>0">
      <tr>
        <td>Requirement Heading</td>
        <td>Requirement Date</td>
        <td>Requirement By</td>
        <td>Description</td>
      </tr>
      <tr *ngFor="let r of requirements">
        <td>{{r.requirementHeading}}</td>
        <td>{{r.requirementDate}}</td>
        <td>{{r.requirementBy}}</td>
        <td>{{r.description}}</td>
      </tr>
    </table>
    <div *ngIf="requirements && requirements.length==0" style="color:red">
      <label>No requirements Added.</label>
    </div>
  </p-sidebar>

  <p-sidebar [(visible)]="displayContactPerson" position="right"  [style]="{width:'40em'}">
    <h4>{{selClient}} Contact Person </h4>
    <div class="form-group">
      <label>ContactPersonname </label>
      <input name="ClientContact PersonName" type="text" class="form-control" [(ngModel)]="contactpersonname">
    </div>
    <div class="form-group">
      <label>Phone </label>
      <input name="ClientPhone" type="text" class="form-control" [(ngModel)]="phone">
    </div>

    <div class="form-group">
      <label>Email </label>
      <input name="ClientEmail" type="text" class="form-control" [(ngModel)]="email">
    </div>
    <div class="form-group">
      <label>Description </label>
      <input name="ClientDescriptionName" type="text" class="form-control" [(ngModel)]="description">
    </div>
    <p-button label="Save" icon="pi pi-check" (click)="createContactPerson()"></p-button>
    <hr/>
    <table class='can-table' style="border-collapse: collapse;width:100%" *ngIf="contactperson && contactperson.length>0">
      <tr>
        <td>Contact PersonName</td>
        <td>Phone</td>
        <td>Email</td>
        <td>Description</td>
      </tr>
      <tr *ngFor="let c of contactperson">
        <td>{{c.contactpersonname}}</td>
        <td>{{c.phone}}</td>
        <td>{{c.email}}</td>
        <td>{{c.description}}</td>
      </tr>
    </table>
    <div *ngIf="contactperson && contactperson.length==0" style="color:red">
      <label>No contactperson  Added.</label>
    </div>
  </p-sidebar>

  
  
  
  