<div class="card">
    <p-table  #dt [columns]="cols" [value]="ClientEmployeeDetails" [tableStyle]="{'min-width': '50rem'}" styleClass="p-datatable-striped"
    [paginator]="true" [rows]="10" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,25,50]"
    selectionMode="multiple" [(selection)]="selectedProducts" [exportHeader]="'customExportHeader'">
    <ng-template pTemplate="caption">
        <div style="display: inline-flex;">
            <h5 style="margin-right: 100px;margin-left:20px">ClientEmployeeDetails</h5>
            <div style="float: right;margin-top: 4px">
                <button type="button" pButton pRipple icon="pi pi-file" (click)="dt.exportCSV()" class="mr-2" pTooltip="CSV" tooltipPosition="bottom"></button>
                <p-button style="margin-left:5px;" icon="pi pi-plus" (click)="AddClientEmployeeDetails()" icon="pi pi-plus"></p-button>
            </div>
        </div>
    </ng-template> 
        <ng-template pTemplate="header">
                <tr>
                    <th>Client Id</th>
                    <th>Employee Id</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Job Details</th>
                    <th>Per HourCost </th>
                    <th>Actions</th>
                </tr> 
            </ng-template>
            <ng-template pTemplate="body" let-ClientEmployeeDetails>
                <tr>
                    <td>{{ClientEmployeeDetails.ClientId}}</td>
                    <td>{{ClientEmployeeDetails.EmployeeId}}</td>
                    <td>{{ClientEmployeeDetails.StartDate}}</td>
                    <td>{{ClientEmployeeDetails.EndDate}}</td>
                    <td>{{ClientEmployeeDetails.JobDetails}}</td>
                    <td>{{ClientEmployeeDetails.PerHourCost}}</td>
                    <td>
                        <button (click)="edit(ClientEmployeeDetails.key,ClientEmployeeDetails)" pButton pRipple type="button" icon="pi pi-pencil" class="p-button-rounded p-button-text"></button>
                        <button (click)="delete(ClientEmployeeDetails.key)" pButton pRipple type="button" icon="pi pi-times" class="p-button-rounded p-button-danger p-button-text"></button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
</div>
<p-sidebar [(visible)]="display" position="right"  [style]="{width:'40em'}">
    <h3>{{sibebarHeader}}</h3>
  <div class="form-group">
      <label> Client Id<small>(required)</small></label>
      <input name="clientId" type="text" class="form-control" [(ngModel)]="clientemployeedetails.ClientId">
  </div>
  <div class="form-group">
    <label> Employee Id</label>
    <input name="EmployeeId" type="text" class="form-control" [(ngModel)]="clientemployeedetails.EmployeeId">
  </div>
  <div class="form-group">
    <label> Start Date</label>
    <input name="StartDate" type="text" class="form-control" [(ngModel)]="clientemployeedetails.StartDate">
  </div>
  <div class="form-group">
    <label> End Date</label>
    <input name="EndDate" type="text" class="form-control" [(ngModel)]="clientemployeedetails.EndDate">
  </div>
  <div class="form-group">
    <label> Job Details</label>
    <input name="JobDetails" type="text" class="form-control" [(ngModel)]="clientemployeedetails.JobDetails">
  </div>
  <div class="form-group">
    <label>Per HourCost </label>
    <input name="PerHourCost" type="text" class="form-control" [(ngModel)]="clientemployeedetails.PerHourCost">
  </div>
    <p-button label="Submit" icon="pi pi-check" (click)="create()"></p-button>
</p-sidebar>
