<div class="card">
  <p-table
     #dt
     [columns]="cols"
     [value]="Notifications"
     [tableStyle]="{ 'min-width': '50rem' }"
     styleClass="p-datatable-striped"
     [paginator]="true"
     [rows]="10"
     [showCurrentPageReport]="true"
     currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
     [rowsPerPageOptions]="[10, 25, 50]"
     selectionMode="multiple"
     [(selection)]="selectedProducts"
     [exportHeader]="'customExportHeader'"
   >
     <ng-template pTemplate="caption">
       <div style="display: inline-flex;">
         <h5 style="margin-right:50px;margin-left:10px;margin-bottom:0px;">Notifications</h5>
       <div style="float: right;margin-top:1px">
         <button  tooltipPosition="top" pTooltip="CSV" pButton pRipple icon="pi pi-file" (click)="dt.exportCSV()" class="mr-2" ></button>
         <p-button  tooltipPosition="top" pTooltip="AddNotifications" style="margin-left:5px" icon="pi pi-plus" (click)="AddNotifications()" icon="pi pi-plus"></p-button>
       </div>
       </div>
     </ng-template>
        <ng-template pTemplate="header">
                <tr>
                    <th>Subject</th>
                    <th>Description</th>
                    <th>Notify To</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Status</th>
                    <th>Notify All</th>
                    <th>Actions</th>
                </tr> 
            </ng-template>
            <ng-template pTemplate="body" let-Notifications>
                <tr>
                    <td>{{Notifications.Subject}}</td>
                    <td>{{Notifications.Description}}</td>
                    <td>{{Notifications.NotifyTo}}</td>
                    <td>{{Notifications.Startdate}}</td>
                    <td>{{Notifications.Enddate}}</td>
                    <td>{{Notifications.Status}}</td>
                    <td>{{Notifications.Notifyall}}</td>
                    <td>
                        <button  tooltipPosition="top" pTooltip="EDIT" (click)="edit(Notifications.key,Notifications)" pButton pRipple type="button" icon="pi pi-pencil" class="p-button-rounded p-button-text"></button>
                        <button  tooltipPosition="top" pTooltip="DELETE" (click)="delete(Notifications.key)" pButton pRipple type="button" icon="pi pi-times" class="p-button-rounded p-button-danger p-button-text"></button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
</div>
<p-sidebar [(visible)]="display" position="right"  [style]="{width:'40em'}">
    <h3>{{sibebarHeader}}</h3>
    <div class="form-group">
      <label>Subject<small>(required)</small></label>
      <input name="subject" type="text" class="form-control" [(ngModel)]="notification.Subject">
  </div>
  <div class="form-group">
    <label> Description</label>
    <input name="description" type="text" class="form-control" [(ngModel)]="notification.Description">
  </div>
  <div class="form-group">
    <label> NotifyTo</label>
    <input name="notifyto" type="text" class="form-control" [(ngModel)]="notification.NotifyTo">
  </div>
  <div class="form-group">
    <label> Start Date</label>
    <input name="startdate" type="text" class="form-control" [(ngModel)]="notification.Startdate">
  </div>
  <div class="form-group">
    <label> End Date</label>
    <input name="enddate" type="text" class="form-control" [(ngModel)]="notification.Enddate">
  </div>
  <div class="form-group">
    <label> Status</label>
    <input name="status" type="text" class="form-control" [(ngModel)]="notification.Status">
  </div>
  <div class="form-group">
    <label> NotifyAll</label>
    <p-checkbox [(ngModel)]="checked" [binary]="true" inputId="binary">
    <input name="notifyall" type="text" class="form-control" [(ngModel)]="notification.Notifyall"></p-checkbox>
  </div>
<p-button label="Submit" icon="pi pi-check" (click)="create()"></p-button>
  </p-sidebar>
  <p-toast></p-toast>
