:host ::ng-deep .navbar{
    min-height: 0px
}
:host ::ng-deep .main-nav {
    padding-top: 0px; 
}
:host ::ng-deep .navbar .container {
    padding-top: 0px;
}
:host ::ng-deep .navbar-default .navbar-nav > li > a.active:after {
    bottom: 0px;
}
:host ::ng-deep .navbar-brand {
    padding:0px;
}
:host ::ng-deep .button.navbar-right {
    padding: 0px;
}
:host ::ng-deep .navbar-btn {
    margin-top: 3px;
    margin-bottom: 0px;
}
:host ::ng-deep .p-menubar {
    padding: 0rem;
    background: white;
    color: black;
    border: none;
}
:host ::ng-deep .p-component {
    font-size: 1.5rem;
}
:host ::ng-deep .pi {
    font-size: 1.5rem;
    color:black !important;
}