<div class="card">
    <h5>Users</h5>
        <p-table #dt [columns]="cols" [value]="Users" [tableStyle]="{'min-width': '50rem'}" styleClass="p-datatable-striped"
        [paginator]="true" [rows]="10" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,25,50]"
        selectionMode="multiple" [(selection)]="selectedProducts" [exportHeader]="'customExportHeader'">
        <ng-template pTemplate="caption">
            <div class="flex">
                <button type="button" pButton pRipple icon="pi pi-file" (click)="dt.exportCSV()" class="mr-2" pTooltip="CSV" tooltipPosition="bottom">CSV</button>
                <!-- <button type="button" pButton pRipple icon="pi pi-file-excel" (click)="exportExcel()" class="p-button-success mr-2"  pTooltip="XLS" tooltipPosition="bottom"></button>
                <button type="button" pButton pRipple icon="pi pi-file-pdf" (click)="exportPdf()" class="p-button-warning mr-2" pTooltip="PDF" tooltipPosition="bottom"></button> -->
                 <button type="button" pButton pRipple icon="pi pi-filter" (click)="dt.exportCSV({selectionOnly:true})" class="p-button-info ml-auto" pTooltip="Selection Only" tooltipPosition="bottom">Selected Row CSV</button>
                <p-button icon="pi pi-plus" (click)="AddUser()" icon="pi pi-plus"></p-button>
            </div>
        </ng-template>    
        <ng-template pTemplate="header">
                <tr>
                    <th>Username</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Mobile Number</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-Users>
                <tr>
                    <td>{{Users.username}}</td>
                    <td>{{Users.name}}</td>
                    <td>{{Users.email}}</td>
                    <td>{{Users.mobileNumber}}</td>
                    <td>
                        <button (click)="edit(Users.key,Users)" pButton pRipple type="button" icon="pi pi-pencil" class="p-button-rounded p-button-text"></button>
                        <button (click)="delete(Users.key)" pButton pRipple type="button" icon="pi pi-times" class="p-button-rounded p-button-danger p-button-text"></button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
       
</div>

<p-sidebar [(visible)]="display" position="right"  [style]="{width:'40em'}">
    <h3>{{sibebarHeader}}</h3>
    <div class="form-group">
      <label> Username <small>(required)</small></label>
      <input name="Username" type="text" class="form-control" [(ngModel)]="user.username">
  </div>
  <div class="form-group">
    <label> Name</label>
    <input name="name" type="text" class="form-control" [(ngModel)]="user.name">
  </div>
  <div class="form-group">
    <label> Email</label>
    <input name="email" type="text" class="form-control" [(ngModel)]="user.email">
  </div>
  <div class="form-group">
    <label> mobileNumber</label>
    <input name="mobileNumber" type="text" class="form-control" [(ngModel)]="user.mobileNumber">
  </div>
  
    <p-button label="Submit" icon="pi pi-check" (click)="create()"></p-button>
  </p-sidebar>
