<div class="grid">
  <div class="col-2">
    <div class="card">
      <h4>Candidate Details</h4>
      <p-chip label="Use my email" (click)="candidate.recipientEmail = userDetails.email"></p-chip>
      <span class="p-float-label">
        <input pInputText id="recipientEmail" [(ngModel)]="candidate.recipientEmail" class="formInput"/>
        <label htmlFor="recipientEmail" class="formLabel">Recipient Email</label>
      </span>
      <span class="p-float-label">
        <input pInputText id="subject" [(ngModel)]="candidate.subject" class="formInput"/>
        <label htmlFor="subject" class="formLabel">Subject</label>
      </span>
      <span class="p-float-label">
        <input pInputText id="name" [(ngModel)]="candidate.name" class="formInput"/>
        <label htmlFor="name" class="formLabel">Name</label>
      </span>
      <span class="p-float-label">
        <input pInputText id="title" [(ngModel)]="candidate.title" class="formInput"/>
        <label htmlFor="title" class="formLabel">Title</label>
      </span>
      <span class="p-float-label">
        <input pInputText id="experience" [(ngModel)]="candidate.experience" class="formInput"/>
        <label htmlFor="experience" class="formLabel">Experience</label>
      </span>
      <span class="p-float-label">
        <input pInputText id="availability" [(ngModel)]="candidate.availability" class="formInput"/>
        <label htmlFor="availability" class="formLabel">Availability</label>
      </span>
      <span class="p-float-label">
        <input pInputText id="relocation" [(ngModel)]="candidate.relocation" class="formInput"/>
        <label htmlFor="relocation" class="formLabel">Relocation</label>
      </span>
      <span class="p-float-label">
        <input pInputText id="visaType" [(ngModel)]="candidate.visaType" class="formInput"/>
        <label htmlFor="visaType" class="formLabel">Visa Type</label>
      </span>
      <span class="p-float-label">
        <input pInputText id="city" [(ngModel)]="candidate.city" class="formInput"/>
        <label htmlFor="city" class="formLabel">City</label>
      </span>
      <div>
        <p-button label="Add" (click)="AddCandidate()" styleClass="p-button p-button-text"></p-button>
        <p-button label="Clear" (click)="Clear()" styleClass="p-button-danger p-button p-button-text"></p-button>
      </div>
    </div>
  </div>
  <div class="col" >
        <h4>Cadidate List </h4>
        <hr/>
        <table class='can-table' style="border-collapse: collapse;" *ngIf="candidates.length>0">
          <tr *ngFor="let c of candidates;let i=index">
            <td>{{c.recipientEmail}}</td>
            <td>{{c.subject}}</td>
            <td>{{c.name}}</td>
            <td>{{c.title}}</td>
            <td>{{c.experience}}</td>
            <td>{{c.availability}}</td>
            <td>{{c.relocation}}</td>
            <td>{{c.visaType}}</td>
            <td>{{c.city}}</td>
            <td>
              <p-button (click)="DeleteCandidate(i)" icon="pi pi-times" styleClass="p-button-rounded p-button-danger p-button-text"></p-button>
            </td>
          </tr>
        </table>
        <div *ngIf="candidates.length==0" style="color:red">
          <label>No Candidate Added.</label>
        </div>
      <hr/>
        <h4>Template 
          <p-button *ngIf="candidates.length>0" (click)="GenerateTemplate()" icon="pi pi-check" styleClass="p-button-rounded p-button-success p-button-text"></p-button>
          <p-button *ngIf="candidates.length>0" (click)="Save()" icon="pi pi-save" styleClass="p-button-rounded p-button-success p-button-text"></p-button>
        </h4>
        <div *ngIf="finalTemplate !=''" [innerHTML]="finalTemplate"></div>
        <textarea style="width:100%" rows="3">
          {{finalTemplate}}
        </textarea>
        <hr/>
        <div class="card" >
          <h4>Saved Templates</h4>
          <table *ngIf="emails.length>0">
            <tr>
              <td>Date</td>
              <td>Created By</td>
              <td></td>
            </tr>
            <tr *ngFor="let e of emails">
              <td>{{e.date}}</td>
              <td>{{e.createdBy}}</td>
              <td> 
                <p-button (click)="View(e.template)" icon="pi pi-external-link" styleClass="p-button-rounded p-button-success p-button-text"></p-button>
                <p-button (click)="DeleteSaved(e.key)" icon="pi pi-times" styleClass="p-button-rounded p-button-danger p-button-text"></p-button>
              </td>
            </tr>
          </table>
          <div *ngIf="emails.length==0" style="color:red">
            <label>No Email Template Saved.</label>
          </div>
        </div>
      </div>
    </div>
    <hr/>
    




  
  
  
  