.can-table, th, td {
    border: 1px solid;
    padding-left: 3px;
    padding-right: 3px;
  }
  .grid{
    margin: 10px;
  }
  .formInput{
    border: 1px solid gray;
  }
  .formLabel{
    font-weight: 0;
  }
  .p-float-label{
    margin-top:15px
  }